.social-bar{
    display: flex;
    width: 100%;
    height: 50px;
    color: white;
    position: fixed;
    bottom: 0;
}
[class^="social-bar-icon"]{
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s;
}
[class^="social-bar-icon"] i{
    font-size: 20px;
}
.social-bar-icon-facebook{
background: #688ad3;
}
.social-bar-icon-instagram{
    background: rgb(247, 87, 135);
}
.social-bar-icon-whatsapp{
    background: #4fdf71;
}
.social-bar-icon-messenger{
    background: #6eb4f5;
}
.social-bar-icon-github{
    background: rgb(76, 80, 85);
}
.social-bar-icon-web{
    background: rgb(223, 222, 222);
}
.social-bar-icon-facebook:hover{
background: #3b5998;
}
.social-bar-icon-instagram:hover{
    background: rgb(255, 0, 76);
}
.social-bar-icon-whatsapp:hover{
    background: #00bb2d;
}
.social-bar-icon-messenger:hover{
    background: #0084ff;
}
.social-bar-icon-github:hover{
    background: #24292E;
}
.social-bar-icon-web:hover{
    background: gray;
}
footer{
    margin-bottom: 49px;
}
@media (min-width:600px){
    .social-bar{
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 100vh;
    }
    [class^="social-bar-icon"]{
        width: 20px;
        height: 50px;
        position: relative;
    }
    [class^="social-bar-icon"]:first-child{
        border-radius: 0 5px 0 0;
    }
    [class^="social-bar-icon"]:last-child{
        border-radius: 0 0 5px 0;
    }
    [class^="social-bar-icon"]:hover{
        width: 50px;
        border-radius: 0 50% 50% 0;
        text-align: center;
        transform: translateX(15px);
    }
    footer{
        margin-bottom: 0;
    }
}